@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
@import "normalize";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app{
  font-family: var(--font-family-main);
  font-weight: 500;
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  background-color: var(--bg);
  color: var(--primary-color);
  min-height: 100vh;
}

.container{
  max-width: 1069px;
  padding: 20px;
  margin: 0 auto;
}
