.Ticket{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}

.TicketInner{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 40px 30px;
  border-radius: 10px;
  background-color: var(--ticket-bg);
  color: var(--primary-color);
}

.priceDestTime,
.time,
.companyTrans{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.title{
  color: var(--secondary-color);
}

.price{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.company{
  margin-bottom: 15px;
}

.skeleton{
  width: 100%;
  height: 174px;
  border-radius: 10px;
}
