.Header,
.logo,
.mode,
.icon {
	display: flex;
}

.Header {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	@media (max-width: 480px) {
		flex-direction: column;
		row-gap: 10px;
	}
}

.logo {
	align-items: center;
	column-gap: 34px;

	h1 {
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		@media (max-width: 768px) {
			display: none;
		}
	}
}

.logo_icon {
	width: 100px;
	height: 80px;
	@media (max-width: 768px) {
		width: 57px;
		height: 46px;
	}
}

.mode {
	width: 205px;
	align-items: center;
	column-gap: 5px;
	@media (max-width: 480px) {
		justify-content: space-between;
	}
}

.lang {
	padding: 5px;
	margin-left: 10px;
	text-decoration: underline;
}
